body {
  font-family: 'VT323';
  background-color: #1818B2;
  font-size: 18px;
}
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.logo {
  align-self: flex-start;
  width: 300px;
  margin: 15px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  background-color: #B2B2B2;
  max-width: 50%;
  padding: 15px 15px 30px 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  outline: solid thin;
  outline-offset: -10px;
}
.menu-container ul {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.menu-container li {
  list-style: none;
  padding: 5px 0;
  margin-bottom: 5px;
}
.menu-container li:hover {
  background-color: #1818B2;
  color: #B2B2B2;
}
.clear-button {
  color: #B21818;
}
.button-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
footer {
  text-align: center;
  margin: 15px 0 30px;
  color: #FFF;
}
footer a {
  color: #FFF;
  text-decoration: none;
}
footer span {
  margin: 0 5px;
}
.selection-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-container a {
  margin: 5px 20px 5px 5px;
  padding: 30px;
  color: #B2B2B2;
  background-color: #B21818;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  outline: solid thin;
  outline-offset: -10px;
}
p {
  margin: 10px 5px;
}
.title {
  background-color: #B2B2B2;
  padding: 0 10px;
  color: #B21818;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.clear-selections-button {
  cursor: pointer;
  color: #b21818;
}
